h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Spartan', sans-serif;
}
.main_section{
    background: #f6f9fc;
}
.top_section {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 25px 50px;
}
.top_section span {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    color: #7c9ff0;
    padding: 10px 0px;
    display: block;
}
.span_2{
    color: #fff !important;
    font-size: 15px !important;
}
.top_section h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin-bottom: 25px;
}
.top_section h2::after {
    content: "";
    position: absolute;
    top: 126%;
    left: 42%;
    background: #3763eb;
    height: 2px;
    width: 50px;
}
.top_section p {
    font-size: 15px;
    color: #8f8e8f;
    font-weight: 500;
}
.pricing_table_content {
    text-align: center;
    padding: 40px 70px;
    transition: all .5s;
    box-shadow: 0px 0px 80px 2px #e9e6e6dd;
}
.pricing_table_content:hover{
    background: #0d6efd;
    color: #fff;
}
.pricing_table_content:hover .table_head h3{
    color: #fff;
}
.pricing_table_content:hover .table_head span{
    color: #fff;
}
.pricing_table_content:hover a{
    background: #fff;
    color: #0d6efd;
}
.table_head {
    padding-bottom: 60px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
}
.table_head span {
    font-size: 19px;
    font-weight: 600;
    color: #294263;
    transition: all 1s;

}
.table_head h3 {
    margin-top: 30px;
    /* border-bottom: 1px solid #ddd; */
    font-size: 43px;
    color: #212529;
    transition: all 1s;
}
.pricing_table_content p {
    color: #adb6c0;
    font-weight: 500;
}
.pricing_table_content a {
    padding: 10px 23px;
    background: #0d6efd;
    color: #fff;
    text-decoration: none;
    border-radius: 23px;
    margin-top: 22px;
    display: inline-block;
    font-weight: 600;
    transition: .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
}
.pricing_table_content a:hover{
    color: #fff;
}
.pricing_table_content a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #0d6efd;
    border: 1px solid #fff;
    z-index: -1;
    transition: all .5s;
    border-radius: 20px;
    opacity: 0;
}
.pricing_table_content a:hover::after{
    width: 100%;
    opacity: 1;
}
.banner_section{
    background: url(./free-bg.jpg) no-repeat center center;
    background-size: cover;
    padding: 100px 0px;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}
.banner_section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(57, 99, 255, .9);
    z-index: -1;
}
.banner_top_section {
    width: 50%;
    text-align: center;
    margin: auto;
    color: #fff;
}
.banner_top_section span {
    font-weight: 500;
    padding-bottom: 17px;
    display: block;
}
.banner_top_section h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 31px;
    position: relative;
}
.banner_top_section h2::after{
    content: "";
    position: absolute;
    top: 126%;
    left: 42%;
    background: #fff;
    height: 1px;
    width: 50px;
}
.banner_top_section p {
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.banner_section a {
    padding: 13px 23px;
    color: #0d6efd;
    background: #fff;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 22px;
    display: inline-block;
    font-weight: 600;
    transition: all .5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.banner_section a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #3a61f0;
    border: 1px solid #fff;
    z-index: -1;
    transition: all .5s;
    border-radius: 20px;
    opacity: 0;
}
.banner_section a:hover::after{
    opacity: 1;
    width: 100%;
    
}
.banner_section a:hover{
    color: #fff;
}
/* subscribe_section */
.subscribe_section {
    background: #3763eb;
    color: #fff;
    border-radius: 6px;
    padding: 45px 60px;
    width: 100%;
}


input.form-control {
    border-radius: 20px;
    display: inline-block;
    width: 115%;
    padding-left: 20px;
}
.subscribe_section a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 49px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 15px;
}
.subscribe_section h2 {
    font-size: 24px;
    font-weight: 600;
}
.subscribe_section p {
    font-size: 16px;
    width: 71%;
    font-weight: 500;
    margin-top: 15px;
}
.grow_text {
    width: 80%;
    padding: 40px 23px;
    box-shadow: 0px 0px 29px 3px #ddd;
    margin-left: 35px;
}
.grow_text h2 {
    font-size: 23px;
    font-weight: 600;
    color: #333343;
}
.grow_text a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background: #0d6efd;
    color: #fff;
    padding: 6px 23px;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
}
